---
title: Description de la boutique en ligne Beacon : La boutique Web Beacon est un service qui permet aux titulaires de licence Beacon de mettre en œuvre des abonnements dans les boutiques en ligne Bring Your Own (BYO).
parent: home
---
 <h1>{{ page.title }}</h1>
<article class="landing-page-wrapper">
  <summary>{{ page.description }}</summary>
  <section class="bcls-topic-list">
    <h2 id="Topics_in_this_section">Sujets dans {{ page.title }}</h2>
    <ul>
      {% for item in site.data.navigation %} {% if item.name == page.title %} {% for doc in item.docs %}
      <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
      {% endfor %} {% endif %} {% endfor %}
    </ul>
  </section>
</article>